body {
  font: "Arial", sans-serif;
  font-size: 34px;
  color: black;
}

hr {
  border-width: 6px;
  color: #7d97ad;
}

.logo {
  border: 6px solid #42f4cb;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  line-height: 93px;
  text-align: center;
  color: #42f4cb;
  font-size: 90px;
  font-weight: bold;
}

.text-muted {
  color: #7d97ad;
}

.text-thin {
  font-weight: 200;
}

.main-title {
  font-size: 1.8em;
  -webkit-font-smoothing: antialiased;
}

h1,
h4 {
  color: #2d3c49;
}

p {
  text-align: center;
  cursor: default;
  font-size: 20px;
}

.link-text {
  text-decoration: none;
  color: #7d97ad;
  font-size: 0.5em;
}

